# Configurações do Banco de Dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=users_db

# String de conexão SQLAlchemy usada pela aplicação
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/users_db
